# Ignore emacs backup files
*~

# Ignore doc/build
# these are stored in gh-pages orphan branch
doc/build

# Ignore macOS cache files
.DS_Store

# Ignore cases and other junk from my work
apreminder
aptest1
aptest2
control30lyr_1cat
sepoct20cm30lyr_1cat
